* {
    margin: 0px;
    padding: 0px;
}

html {
    height: 100%;
    width: 100%;
}

body {
    background-color: grey;
    height: 100%;
    width: 100%;
}

#calcbox {
    height: 90%;
    width: 80%;
    background-color: red;
}

#display {
    width: 90%;
    height: 80px;
    font-size: 72px;
    background-color: aqua;
    text-align: center;
}

#numpad {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
}

#buttons {
    width: 90%;
}

.numButton {
    height: 100px;
    width: 30%;
    background-color: black;
    margin: 10px 10px 10px 10px;
}